
// NProgress style.
@import 'nprogress/nprogress.css';

body {
  width: 100%;
}

.product {
  img {
    width: 100%;
  }
}
.logo img{
  height: auto;
  width: 150px;
}
.header {
  box-shadow: 0 4px 12px 0 rgba(0, 0, 0, 0.05);
}

.banner {
  img {
    width: 100%;
    height: 400px;
    object-fit: cover;
    object-position: 50% 50%;
  }
}

.banner-img-container {
  transition: opacity 500ms linear 0s;
}

.banner-content {
  display: flex;
  justify-content: center;
  flex-direction: column;
  &__title {
    line-height: 1.2;
    max-width: 254px;
  }
  &__description {
    margin-top: 10px;
    padding-bottom: 40px;
  }
  &__link {
    padding-top: 20px;
    border-top: 1px solid #ccc;
  }
}

.banner-img {
  position: relative;
  height: 400px;
}

.slider-button {
  position: absolute;
  bottom: 0;
  right: 0;
  background: #fff;
  padding: 10px 20px;
  font-size: 24px;
}

.products .product-description {
  max-width: 250px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.categories,
.cart,
.checkout {
  min-height: 400px;
}

.cart-products,
.checkout-cart {
  th,
  td {
    padding: 10px 0;
  }
  tr {
    border-bottom: 1px solid #ccc;
  }
}

.woo-next-cart-total-container {
  max-height: 200px;
  height: 100%;
}

.main-title {
  position: relative;
  text-align: center;
  &:before {
    content: "";
    position: absolute;
    bottom: 50%;
    left: 0;
    height: 2px;
    width: 50%;
    background: #222;
    z-index: -1;
  }
  &:after {
    content: "";
    position: absolute;
    bottom: 50%;
    right: 0;
    height: 2px;
    width: 50%;
    background: #222;
    z-index: -1;
  }
}

.main-title-inner {
  background: #fff;
  padding: 0 20px;
}

.woo-next-cart-qty {
  input {
    border: 1px solid #ccc;
    text-align: center;
    border-radius: 4px;
  }
}


div#__next {
  /*background: #6F6C6E;*/
}

.header nav {
 
}
.footer.bg-gray-800.p-6.text-white {
  background: #ffab00;
}
.welcome{
  background: #6F6F6F;
  font-size: 31px;
  padding: 11px 0px;
  color: #fff;
  font-weight: 500;
}
.welcome .main-title-inner {
  background: none;  /**/
  padding: 20px 20px;
}
.price h6 {
  background: #CE7F4F;
  padding: 5px;
  color: #fff;
  text-align: center;
}
.slider-container{
  padding: 10px 0px 0px 0px;
}
.prodhome span{
  width: 100%;
}
.banner img {
  width: 100%;
  height: 400px;
  -o-object-fit: cover;
  /**/ object-fit: cover; 
  -o-object-position: 100% 100%;
  /* */object-position: 100% 100%; 
}

.slider-button {
  position: absolute;
 right: 0;
 left: 0;
  top: 40%;/*  */
  background: none;
  padding: 10px 20px;
  font-size: 24px;
}

.slider-button button{
  background: #fff;
  padding: 8px 6px;
}
button.focus\:outline-none.btn-right {
  right: 0;
  position: absolute;
}
button.focus\:outline-none.btn-left {
 
  position: absolute;
  left: 0;
}
.my-32 {
  margin-top: 2rem;
  margin-bottom: 2rem;
}
.pub{
  margin-top: 2rem;
  margin-bottom: 2rem;
}
.pub-top{
  padding: 5px 0px;
}

.product-info.author-info img {
  max-width: 160px;
  margin: 0 auto;
}

.product-info.author-info h2 {
  text-align: center;
  font-size: 20px;
  text-transform: uppercase;
}

.author-info button {
  width: 100%;
  padding: 10px;
  margin: 10px auto;
}

.product-info.author-info {
  margin: 0 50px;
  border-radius: 50px;
  padding: 50px 50px;
  background: #f7f7f7;
}

/* MENU
  */

  nav ul, nav li {
    list-style: none;
    padding: 0;
    margin: 0;
}
nav a {
    display: block;
    text-decoration: none;
}
nav a:hover, nav a:visited {
    text-decoration: none;
}
.menu-bar {
    background:transparent;
    display: flex;
}
.menu-link {
    padding: 20px 25px;
    background: transparent;
    color: #4c000e;
    position: relative;
    z-index: 1;
    font-weight: 700;
    text-transform: uppercase;
}

.mega-menu--multiLevel .menu-link {
    padding: 15px 25px !important;
   
}
.menu-link[aria-haspopup="true"] {
    padding-right: 40px;
}
.menu-link[aria-haspopup="true"]:after {
    content: "";
    background-image: url('https://s3-us-west-2.amazonaws.com/s.cdpn.io/1397521/arrowRight.svg#accent');
    background-size: 14px;
    width: 14px;
    height: 14px;
    font-size: 12px;
    position: absolute;
    right: 10px;
    top: 50%;
    transform: translateY(-50%);
}
.mega-menu-header {
    font-size: 1.2em;
    text-transform: uppercase;
    font-weight: bold;
    color: #136a73;
}
.mega-menu {
    background: #ffffff;
    z-index: 10;
}
.mega-menu--multiLevel {
    flex-direction: column;
}
@media all and (min-width: 951px) {
    .nav {
        margin-top: 10px;
        background: #ffba49;
   }
    .nav > nav {
        max-width: 900px;
        margin: 0 auto;
   }
    .menu [aria-haspopup="true"] ~ ul {
        display: none;
   }
   .menu [aria-haspopup="true"]:hover ~ ul {
    display: block;
}
    .menu-bar {
        position: relative;
   }
    .menu-bar > li > [aria-haspopup="true"]:after {
        background-image: url('https://s3-us-west-2.amazonaws.com/s.cdpn.io/1397521/arrowBottom.svg#accent');
   }
    .menu-bar > li > [aria-haspopup="true"]:hover:after {
        background-image: url('https://s3-us-west-2.amazonaws.com/s.cdpn.io/1397521/arrowBottom.svg#light');
   }
    .menu-bar > li > [aria-haspopup="true"]:focus ~ ul {
        display: flex;
        transform-origin: top;
        animation: dropdown .2s ease-out;
   }
    .menu-bar > li > [aria-haspopup="true"] ~ ul:hover {
        display: flex;
   }
    .menu-bar > li:hover > [aria-haspopup="true"] ~ ul {
        display: flex;
   }
    .menu-bar > li > [aria-haspopup="true"]:focus, .menu-bar > li:hover > [aria-haspopup="true"], .menu-bar > li:hover > a {
        background: #4c000e;
        color: #ffffff;
   }
    .menu-bar > li > [aria-haspopup="true"]:hover:after, .menu-bar > li:hover > [aria-haspopup="true"]:after, .menu-bar > li:hover > a:after {
        background-image: url('https://s3-us-west-2.amazonaws.com/s.cdpn.io/1397521/arrowTop.svg#light');
   }
    .mega-menu {
        position: absolute;
        top: 100%;
        left: 0;
        width: 100%;
   }
    .mega-menu:hover {
        display: flex;
   }
    .mega-menu a:hover {
        background: tint(#4c000e,85%);
        color: #4c000e;
   }
    .mega-menu--multiLevel > li {
        width: 33.333333333333%;
   }
    .mega-menu--multiLevel > li > [aria-haspopup="true"] ~ ul {
        left: 33.333333333333%;
        width: 33.333333333333%;
   }
    .mega-menu--multiLevel > li > [aria-haspopup="true"] ~ ul ul {
        width: 100%;
        left: 100%;
   }
    .mega-menu--multiLevel li:hover > [aria-haspopup="true"] ~ ul {
        display: block;
        transform-origin: left;
        animation: flyout .2s ease-out;
   }
    .mega-menu--multiLevel li:hover > [aria-haspopup="true"] ~ ul {
        display: block;
   }
    .mega-menu--multiLevel li:hover > [aria-haspopup="true"], .mega-menu--multiLevel li:hover > a, .mega-menu--multiLevel li:focus-within > [aria-haspopup="true"], .mega-menu--multiLevel li:focus-within > a {
        background: tint(#4c000e,85%);
        color: #4c000e;
   }
    .mega-menu--multiLevel [aria-haspopup="true"] ~ ul, .mega-menu--multiLevel [aria-haspopup="true"] {
        border-left: 1px solid #f0f0f0;
   }
    .mega-menu--multiLevel [aria-haspopup="true"] ~ ul:hover, .mega-menu--multiLevel [aria-haspopup="true"]:hover {
        display: block;
   }
    .mega-menu--multiLevel [aria-haspopup="true"] ~ ul {
        position: absolute;
        top: 0;
        height: 100%;
   }
    .mega-menu--flat > * {
        flex: 1;
   }
    .mobile-menu-trigger, .mobile-menu-header, .mobile-menu-back-item {
        display: none;
   }
}
@media all and (max-width: 950px) {
  .menu-bar {
    background:#f3f4f6 !important;
    display: flex;
}
    .nav {
        padding: 20px;
   }
    .mobile-menu-trigger, .mobile-menu-header, .mobile-menu-back-item {
        display: block;
   }
    .mobile-menu-trigger {
        background: #177E89;
        color: #ffffff;
        border: 0;
        padding: 10px;
        font-size: 1.2em;
        border-radius: 4px;
   }
    .mobile-menu-header {
        order: -1;
        background: grey;
   }
    .mobile-menu-header a {
        padding: 20px 25px;
        color: #ffffff;
        visibility: visible;
   }
    .menu-bar {
      z-index: 9;
        flex-direction: column;
        position: fixed;
        top: 0;
        left: -100%;
        height: 100vh;
        width: 350px;
        max-width: 350px;
        max-width: 90%;
        overflow-x: hidden;
        transition: left .3s;
        box-shadow: 1px 0px 2px 0px rgba(0,0,0,0.25);
   }
    .menu-bar > li > [aria-haspopup="true"] ~ ul {
        display: flex;
        flex-direction: column;
        background: #ffffff;
        position: absolute;
        left: 100%;
        top: 0;
        max-height: 100vh;
        width: 100%;
        transition: left .3s;
   }
    .menu-bar > li > [aria-haspopup="true"] ~ ul > li > [aria-haspopup="true"] {
        font-size: 1.2em;
   }
    .menu-bar > li > [aria-haspopup="true"] ~ ul > li > [aria-haspopup="true"] ~ ul a {
        padding-left: 40px;
   }
    .menu-bar > li > [aria-haspopup="true"] ~ ul > li > [aria-haspopup="true"] ~ ul > li > [aria-haspopup="true"] ~ ul a {
        padding-left: 80px;
   }
    .menu-bar > li > [aria-haspopup="true"] ~ ul [aria-haspopup="true"] {
        color: #2a2a2a;
   }
    .menu-bar > li > [aria-haspopup="true"] ~ ul [aria-haspopup="true"]:after {
        content: "+";
        background: none;
        font-size: 1em;
        font-weight: normal;
        height: 20px;
        line-height: 1;
   }
    .menu-bar > li > [aria-haspopup="true"] ~ ul [aria-haspopup="true"] ~ ul {
        max-height: 0px;
        transform-origin: top;
        transform: scaleY(0);
        transition: max-height .1s;
   }
    .mega-menu-content {
        padding: 20px 25px;
   }
    .mobile-menu-back-item {
        order: -1;
   }
    .mobile-menu-back-item a {
        background: tint(grey,70%);
        color: #2a2a2a;
        max-height: calc(1.4em + 40px);
        margin-top: calc(0px - (1.4em + 40px));
        pointer-events: none;
   }
    .mobile-menu-back-item a:before {
        content: "";
        width: 14px;
        height: 12px;
        background-image: url('https://s3-us-west-2.amazonaws.com/s.cdpn.io/1397521/arrowLeft.svg#default');
        background-size: 14px;
        margin-right: 10px;
        display: inline-block;
   }
    .mobile-menu-trigger:focus ~ ul {
        left: 0;
   }
    .menu-bar:hover, .menu-bar:focus-within {
        left: 0;
   }
    .menu-bar > li > [aria-haspopup="true"]:focus ~ ul {
        left: 0;
   }
    .menu-bar > li > [aria-haspopup="true"] ~ ul {
        margin-top: calc(1.4em + 40px);
   }
    .menu-bar > li > [aria-haspopup="true"] ~ ul:hover, .menu-bar > li > [aria-haspopup="true"] ~ ul:focus-within {
        left: 0;
   }
    .menu-bar > li > [aria-haspopup="true"] ~ ul [aria-haspopup="true"]:focus ~ ul {
        max-height: 500px;
        animation: dropdown .3s forwards;
   }
    .menu-bar > li > [aria-haspopup="true"] ~ ul li:focus-within > [aria-haspopup="true"] ~ ul {
        max-height: 500px;
        transform: scaleY(1);
   }
    .menu-bar > li:focus-within ~ .mobile-menu-header a {
        visibility: hidden;
   }
}
@media all and (max-width: 950px) and (hover: none) {
    .mobile-menu-trigger:hover ~ ul {
        left: 0;
   }
    .menu-bar > li > [aria-haspopup="true"]:hover ~ ul {
        left: 0;
   }
    .menu-bar > li > [aria-haspopup="true"] ~ ul:hover {
        left: 0;
   }
    .menu-bar > li > [aria-haspopup="true"] ~ ul [aria-haspopup="true"]:hover ~ ul {
        max-height: 500px;
        animation: dropdown .3s forwards;
   }
    .menu-bar > li > [aria-haspopup="true"] ~ ul [aria-haspopup="true"] ~ ul:hover {
        max-height: 500px;
        transform: scaleY(1);
   }
    .menu-bar > li:hover ~ .mobile-menu-header a {
        visibility: hidden;
   }
}
@keyframes dropdown {
    0% {
        opacity: 0;
        transform: scaleY(0);
   }
    50% {
        opacity: 1;
   }
    100% {
        transform: scaleY(1);
   }
}
@keyframes flyout {
    0% {
        opacity: 0;
        transform: scaleX(0);
   }
    100% {
        opacity: 1;
        transform: scaleX(1);
   }
}

@media (min-width: 1024px){
  .lg\:block {
    display: inline-block;
}

}
.align-me {
  display: flex;
  align-items: flex-end;
  vertical-align: text-bottom;
}
.deconn{
  cursor: pointer;
}
.s a{
  font-size: 14px;
  text-decoration: none;
  color:#000;

}
.s{
 display: flex;
 align-items: baseline;
}

/** menu account **/
.mon-compte[aria-haspopup="true"]:after {
  content: "";
  background-size: 16px;
  width: 14px;
  height: 14px;
  font-size: 12px;
  position: absolute;
  top: 66%;
  transform: translateY(-43%);
}

.my-menu {
  position: relative;
  padding: 0px 25px;
}
.my-menu > li > [aria-haspopup="true"]:after {
  background-image: url('https://s3-us-west-2.amazonaws.com/s.cdpn.io/1397521/arrowBottom.svg#accent');
}
.my-menu > li > [aria-haspopup="true"]:hover:after {
  background-image: url('https://s3-us-west-2.amazonaws.com/s.cdpn.io/1397521/arrowBottom.svg#light');
}
.my-menu > li > [aria-haspopup="true"]:hover:after, .my-menu > li:hover > [aria-haspopup="true"]:after, .my-menu > li:hover > a:after {
  background-image: url('https://s3-us-west-2.amazonaws.com/s.cdpn.io/1397521/arrowTop.svg#accent');
}
.my-menu > li > [aria-haspopup="true"]:focus ~ ul {
  display: flex;
  transform-origin: top;
  animation: dropdown .2s ease-out;
}

.my-menu > li:hover > [aria-haspopup=true] ~ ul {
  display: block;
  border: 1px solid #ccc;
  padding: 12px 10px;
  border-radius: 5px;
  background: #eee;
}
.compt-m [aria-haspopup="true"] ~ ul {
  display: none;
}
.compt-m [aria-haspopup="true"]:hover ~ ul {
display: block;  animation: flyout .2s ease-out;
}
.mega-compte {
  position: absolute;
  top: 100%;
  left: 0;
  width: 100%;
}
.mega-compte:hover {
  display: flex;
}

.mega-compte > li > [aria-haspopup="true"] ~ ul ul {
  width: 100%;
  left: 100%;
}
.mega-comptel li:hover > [aria-haspopup="true"] ~ ul {
  display: block;
  transform-origin: left;
  animation: flyout .2s ease-out;
}
.mega-compte li:hover > [aria-haspopup="true"] ~ ul {
  display: block;
}
a.mycart {
  margin: 0px 24px;
}
.rec {
  padding: 15px 10px;
  align-items: center;
  background: #ff8f02;
}
.rec .input-group{
  position: relative;
  display: flex;
  flex-wrap: nowrap;
  align-items: center;
  /* width: 500px; */
  margin: 0 auto;
  align-content: space-around;
  flex-direction: row;
  justify-content: center;
}
.similar .slick-slide {
  display: none;
  float: left;
  height: 100%;
  min-height: 1px;
  padding: 5px !important;
}

.similar .slick-prev:before, .slick-next:before {
  font-family: 'slick';
  font-size: 30px !important;
  line-height: 1;
  opacity: .80;
  color: #000 !important;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.similar .slick-prev, .slick-next {
  font-size: 0;
  line-height: 0;
  position: absolute;
  top: 30% !important;
  display: block;
  width: 20px;
  height: 20px;
  padding: 0;
  transform: translate(0, -50%);
  cursor: pointer;
  color: transparent;
  border: none;
  outline: none;
  background: transparent;
}

.gal .slick-slide {
  display: none;
  float: left;
  height: 100%;
  min-height: 1px;
  padding: 1px !important;
}

.gal .slick-prev:before, .slick-next:before {
  font-family: 'slick';
  font-size: 30px !important;
  line-height: 1;
  opacity: .80;
  color: #000 !important;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.gal .slick-prev, .slick-next {
  font-size: 0;
  line-height: 0;
  position: absolute;
  top: 30% !important;
  display: block;
  width: 20px;
  height: 20px;
  padding: 0;
  transform: translate(0, -50%);
  cursor: pointer;
  color: transparent;
  border: none;
  outline: none;
  background: transparent;
}
.connect .iner-con{
max-width: 300px;
margin: 30px auto;

}
.connect .iner-con .sub{
padding: 20px 0px;

}

.connect .iner-enreg{
  max-width: 400px;
  margin: 30px auto;
  
  }
  .connect .iner-enreg .sub{
  padding: 20px 0px;
  
  }
  .devseller{
    display: flex;
    align-items: center;
    margin: 0px 12px;
  }
.devseller a{
  background: #ff9101;
  color: #4c000e;
  font-weight: 700;
  padding: 5px 12px;
  border-radius: 25px;
  -webkit-border-radius:25px;
  -moz-border-radius:25px;
  transition: .3s;
  }

  .devseller a:hover{
    background: #4c000e;
    color: #fff;
    font-weight: 700;
    padding: 5px 12px;
    border-radius: 25px;
    -webkit-border-radius:25px;
    -moz-border-radius:25px;
    transition:.3s;
    }
  
