/**/
.footer {
    position: relative;
    width: 100%;
    bottom: 0;
}

.searchPage.container {
    height: 100vh;
}

.searchPage .input-group {
    position: relative;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    width: 100%;
    justify-content: center;
}

.searchPage .justify-content-md-center.row {
    text-align: center;
    background: #fd7e14;
    padding: 15px;
}

.searchPage button.btn.btn-primary {
    background: #7f1d1d;
}

.searchResult.row {
    margin-top: 50px;
}

.images-produit.row {
    border-radius: 30px 30px;
    background: gray;
}

.images-produit img {
    max-height: 340px;
    object-fit: contain;
}

.titre-produit.col-md-12 {
    padding-top: 50px;
}

.titre-produit h4 {
    font-size: 50px;
    font-weight: 300;
}

.titre-produit h6 {
    font-size: 36px;
    font-weight: 500;
    padding-top: 15px;
}

.contactVendor button {
    width: 100%;
    margin-top: 20px;
}

.contactVendor.container {
    margin-top: 40px;
    padding: 20px 24px;
    border-radius: 8px;
    box-shadow: 0 3px 10px 0 rgb(44 44 45 / 7%), inset 0 0 0 1px rgb(44 44 45 / 7%);
}

.vendro-avatar.col-md-3 img {
    border-radius: 50px;
}

.contact-form-vendeur.col-md-12 {
    margin-top: 50px;
}

.contact-form-vendeur .form-group {
    margin: 10px 0;
}

.contact-form-vendeur button.btn.btn-warning {
    height: 50px;
}

.achat-produit {
    margin-top: 50px;
}

.achat-produit button {
    width: 100%;
    height: 50px;
    background: orange;
    font-weight: 900;
    font-size: 20px;
    border-radius: 20px;
}

.achat-produit button.inline-block {
    background-color: gray!important;
    color: #fff;
}

.separationDroite {
    height: 3px;
    background-color: rgb(44 44 45 / 7%);
    align-self: center;
    display: inline-block;
    width: 100%;
    box-shadow: 0 3px 10px 0 rgb(44 44 45 / 7%), inset 0 0 0 1px rgb(44 44 45 / 7%);
}

.product-similar, .avis-vendeur {
    display: flex;
}

.product-similar h3, .avis-vendeur h3 {
    min-width: 310px;
    font-weight: 300;
}

.optenu.inline-block svg {
    color: #811f51;
}

.avis-product .vendor-review.commente {
    display: block;
}

.avis-product .vendor-review {
    display: inline-block;
}

.avis-product img {
    border-radius: 50%;
}
